body {
    display: block;
    text-align: center;
    margin: auto;
}

#logo {
    display: block;
    height: 92px;
    aspect-ratio: auto 272 / 92;
    width: 272px;
    text-align: center;
    margin: auto;
    padding-top: 109px;
    padding-bottom: 20px;
}

#search {
    background-color: transparent;
    border-radius: 50px;
    height: 34px;
    width: 460px;
    font: 16px arial, sans-serif;
    padding-bottom: 0px;
    padding-top: 5px;
    padding-left: 14px;
    padding-right: 8px;
}

#navbar1 {
    list-style-type: none;
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    font: 13px arial, sans-serif;
    height: 15px;
    width: 98.6875px;
}

#google-apps {
    height: 30px;
    width: 30px;
}

#sign-in {
    background-color: rgb(66, 66, 248);
    color: white;
}