body {
    text-align: center;
    font-family: arial, sans-serif;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
}

ul {
    width: 50%;
    display: flex; 
    padding-left: 0px;
    align-items: center;
    margin: 7px 0px 10px 0px;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: rgb(34, 34, 34);
    font-size: 13px;
}

nav li a:hover, footer li a:hover {
    text-decoration: underline;
}

#left-nav {
    width: 80%;
    text-align: left;
}

#left-nav li {
    padding-left: 15px;
}

#right-nav {
    width: 20%;
    text-align: right;
}

#right-nav li {
    padding-left: 15px;
}

#sign-in {
    color: #fff;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    border-radius: 2px;
    font-size: 13px;
    width: 69.34px;
    height: 30px;
    padding: 0px 12px;

}

#google-apps {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    opacity: .65;
}

#google-apps:hover {
    opacity: .85;
}

#logo {
    display: block;
    height: 92px;
    aspect-ratio: auto 272 / 92;
    width: 272px;
    text-align: center;
    margin: auto;
    padding-top: 109px;
    padding-bottom: 20px;
}

#search-bar-container {
    width: 1278px;
    height: 39px;
    margin: 0;
    display: flex;
}

#search-bar-big {
    background: #fff;
    display: flex;
    border-radius: 8px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 582px;
    justify-content: center;
}

#search-bar-big:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

#search {
    background: transparent;
    border: none;
    display: flex;
    z-index: 3;
    height: 34px;
    margin: 0 auto;
    width: 487px;
    font-size: 14px;
}

#search:focus {
    outline: none;
}

#pic-container {
    height:39px;
    width: 560px;
    display: flex;
    position: absolute;
    left: 359px;
    right: 359px;
    z-index: 2;
}

#glass {
    display: flex;
    position: absolute;
    height: 15px;
    width: 15px;
    left: 15px;
    top: 33%;
    opacity: .65;
}

#mic {
    display: block;
    position: absolute;
    height: 20px;
    width: 15px;
    right: 0px;
    top: 33%;
}

#buttons {
    padding-top: 18px;
}

#buttons button {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    height: 36px;
    min-width: 54px;
    margin: 11px 4px;
    padding: 0px 16px;
}

#google-search:hover, #lucky:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

footer {
    display: flex;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    background-color: rgb(248,248,248);
    border-top-style: solid;
    border-top-color:rgba(34, 34, 34, .1);
    border-top-width: 1px;
    max-width: 1294px;
    height: 40px;
}

footer li {
    list-style: none;
    padding-left: 27px;
}

footer li a {
    text-decoration: none;
    color: rgb(34, 34, 34);
    font-size: 14px;
    opacity: .65;
}

#foot-left {
    text-align: left;
    width: 80%;
}

#foot-right {
    text-align: right;
    width: 20%;
}






